$colors: (
  common: (
    "white": #fff,
    "black": #222222,
    "border": #c7c7c7,
    "placeholder": #8a8787,
  ),
  theme: (
    "1": #096bd8,
    "2": #f0f7fd,
    "3": #f8f5f0,
  ),
  background: (
    "primary": #222222,
  ),
  bg: (
    "1": #222222,
    "2": #1f7fedfb,
    "3": #fffcf6,
    "4": #f2f2f2,
    "5": #f7f7f7,
    "6": #e8f5ff,
  ),
);
